version: '3'

services:
  payload:
    build:
      context: .
    depends_on:
      - mongo
    environment:
      - PAYLOAD_SECRET
      - DATABASE_URI=mongodb://mongo:27017/website
    volumes:
      - 'payload-uploads:/app/uploads'
    env_file:
      - .env
    restart: unless-stopped

  mongo:
    image: mongo:7.0
    command:
      - --storageEngine=wiredTiger
    volumes:
      - 'payload-mongo-data:/data/db'
      - 'payload-mongo-config:/data/configdb'
    env_file:
      - .env
    restart: unless-stopped
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongo mongo:27017/website --quiet
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 40s 
      
